body{
    width: 100%;
    height: 100vh;
    color: white;
}


/**
@font-face {
    font-family: 'Sevilla'; Nombre que quieras darle a tu fuente 
    src: url('./fonts/Sevilla.otf') format('opentype'); Ruta donde está el archivo .otf
    Otras propiedades opcionales, como font-weight, font-style, etc.
}
**/

/***  headers     ***/

header{
    display: flex;
    flex-direction: column;
    align-items:end;
    padding: 41px 0px 0px 0px;
}


.caja-rosada{
    width: 45%;
    height: 55px;
    flex-shrink: 0;
    background-color: #fd1ebd;
    margin: 0px 0px 30px 0;
}


.caja-amarilla{
    width: 35%;
    height: 55px;
    flex-shrink: 0;
    background-color: #FFFD28;
}


/***     body     ***/

main{
    width: 100%;
}

#primero{
    margin-left: 6%;
}

#section-01{
    width: auto;
    height: auto;
    flex-shrink: 0;
    margin-left: 15px;
    border-left: 2px solid white;

}
#section-01 div{
    display: flex;
    align-items: center;
}


#section-01 h1{
    color: rgba(255, 255, 255, 0.3);
    font-family: "Inter", sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 355;
    line-height: normal;
}

#section-01 h2{    
    font-family: "Space Grotesk", sans-serif;
}


#UI{
    
    color: #FFFFFF;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 12em;
    line-height: 1em;
}

#practice{
    color: #FFFFFF;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 7em;
    line-height: 1em;
}


.letra-img{
    display: flex;
    align-items: center;
}

.letra-img img{
    width: 25px;
}



#designe{
    color: #FFFFFF;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    line-height: 2em;
    margin-right: 10px;
}




#autor{
    color: #FFFD38;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 1em;
    text-decoration-line: underline;
}


/**    article   2      **/
#cuatro{
    color: #FFFFFF;
    font-family: 'Sevilla', sans-serif;
    font-weight: bold;
    font-style: normal;
    /* font-family: "Kalam", cursive; */
    /* font-weight: 100; */
    font-size: 6em;
    line-height: 1em;
}


#flach1{
    position: relative;
    left: -3%;
    top: -17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-30deg);   
}


#flach2{   
    position: relative;
    left: -9.93%;
    top: -14px;
    transform: rotate(17deg);
}


h3{
    font-family: 'Sevilla', sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    font-style: normal;
    font-size: 5.5em;
    line-height: 1em;
}


#newbies{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 0.5;
    color: rgba(255, 255, 255, 0.8);
    float: right;
}


#abajo{
    margin-top: 187px;
}


/****      footer         ****/
footer{
    float: right;
    margin-right: 2%;
}


footer div {
    background: #FFFD38;
    width: 75px;
    height: 22px;
}

footer img {
    width: 75px;
    position: relative; /* Posición absoluta para superponer la imagen */
    top: 20px; /* Coloca la imagen en la parte superior del footer */
    left: 0; /* Coloca la imagen en la esquina superior izquierda del footer */
    z-index: 1; /* Asegura que la imagen esté por encima del rectángulo */
}
